  <div class="form_text_input">
    <%= f.label :first_name %>
    <%= render :partial => 'shared/stretchy_text_field', :locals => {:object => 'contact', :method => 'first_name', :size => nil} %>
  </div>
  <div class="form_text_input">
    <%= f.label :last_name %>
    <%= render :partial => 'shared/stretchy_text_field', :locals => {:object => 'contact', :method => 'last_name', :size => nil} %>
  </div>

  <%= render :partial => 'stretchy_fields_address_group', :locals => {:f => f } %>

  <div class="form_text_input">
    <%= f.label :email %>
    <%= render :partial => 'shared/stretchy_text_field', :locals => {:object => 'contact', :method => 'email', :size => nil} %>
  </div>

  <div class="form_text_input">
    <%= f.label :phone %>
    <%= render :partial => 'shared/stretchy_text_field', :locals => {:object => 'contact', :method => 'phone', :size => nil} %>
  </div>