
<div style="clear:both;"></div>
<div style="border-top:1px solid #ddd;">
  <div id=<%= "contact_address_group_link" %> >
    <div class="form_text_input" style="border-top:0px;">
      <label for="Address" >Address </label>
      <div id="contact_address_link" class="stretchy_link" style="display:block" >
        <ul>
          <li>
            <a id="contact_address_group_link_value" onclick="swapStretchyLinkForGroup('contact_address_group');">
              Optional
            </a>
            <%= text_field_tag 'contact_address_group_start', nil, :class => "stretchy_group_start", :style => "display:none" %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id=<%= "contact_address_group_block" %> class="stretchy_group" >
    <div class="form_text_input line1" style="border-top:0px;">
      <%= f.label :street %>
      <%= render :partial => 'shared/stretchy_text_field', :locals => {:object => 'contact', :method => 'street', :size => nil} %>
    </div>
    <div class="form_text_input city">
      <%= f.label :city %>
      <%= render :partial => 'shared/stretchy_text_field', :locals => {:object => 'contact', :method => 'city', :size => '20'} %>
    </div>
    <div class="form_text_input state">
      <%= f.label :state %>
      <%= render :partial => 'shared/stretchy_text_field', :locals => {:object => 'contact', :method => 'state', :size => 3} %>
    </div>
    <div class="form_text_input zip">
      <%= f.label :zip %>
      <%= render :partial => 'shared/stretchy_text_field', :locals => {:object => 'contact', :method => 'zip', :size => 5} %>
    </div>

    <%= text_field_tag 'contact_address_group_end', nil, :class => "stretchy_group_end", :style => "display:none" %>
  </div>
  <div style="clear:both;"></div>
</div>

