<h1>New contact</h1>

<%= form_for @contact, :url => {:action => 'create'}, :builder => StretchyFormBuilder do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <div class="clear"></div>
  <div class="form_actions">
    <%= f.submit "Create", :id => 'contact_submit', :class => 'button' %>
    <%= f.submit "Cancel", :id => 'contact_cancel', :class => 'button cancel_button' %>
  </div>

<% end %>